@model List<Movie>

<h1>Movies in my catalogue</h1>

<div class="pb-3">
	<form asp-controller="Movie" asp-action="Search" method="get">
		<input type="text" name="SearchTitle" value="@ViewBag.SearchTitle" />
		<input type="submit" value="Search" />
	</form>
</div>


<a class="btn btn-success btn-sm" asp-controller="Movie" asp-action="Add">Add a movie</a>

<table class="table table-hover table-sm">
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Year</th>
			<th>Ratting</th>
			<th>Genre</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var movie in Model) {
			<tr>
				<td>@movie.Id</td>
				<td>@movie.Title</td>
				<td>@movie.Year</td>
				<td>@movie.Ratting</td>
				<td>@movie.Genre.Name</td>
				<td>
					<a class="btn btn-primary btn-sm" asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
					<a class="btn btn-danger btn-sm" asp-controller="Movie" asp-action="PrepareDelete" asp-route-id="@movie.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
